Repository subculture-collective/discord-spywatcher, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci/cd, dependencies, documentation, database

.github/labeler.yml:

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'
    - any-glob-to-any-file: '.github/dependabot.yml'

dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
    - any-glob-to-any-file: 'docs/**'

database:
  - changed-files:
    - any-glob-to-any-file: 'backend/prisma/**'

Add multi-factor behavioral analysis for suspicion detection (#129)
  backend/__tests__/unit/analytics/advancedSuspicion.test.ts
  backend/src/analytics/advancedSuspicion.ts
  backend/src/analytics/index.ts
  backend/src/routes/suspicion.ts
  backend/src/types/analytics.ts
  frontend/src/App.tsx
  frontend/src/components/suspicion/SuspicionDetail.tsx
  frontend/src/pages/Suspicion.tsx
  frontend/src/types/suspicion.ts
Labels: backend, frontend

Update frontend/src/components/analytics/ExportButton.tsx
  frontend/src/components/analytics/ExportButton.tsx
Labels: frontend

Add enhanced analytics dashboard with real-time visualizations (#130)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/components/SessionStatus.test.tsx
  frontend/src/__tests__/components/analytics/MetricCard.test.tsx
  frontend/src/__tests__/pages/Analytics.test.tsx
  frontend/src/__tests__/setup.ts
  frontend/src/components/analytics/DateRangeSelector.tsx
  frontend/src/components/analytics/ExportButton.tsx
  frontend/src/components/analytics/HeatmapChart.tsx
  frontend/src/components/analytics/MetricCard.tsx
  frontend/src/components/analytics/TimelineChart.tsx
  frontend/src/components/analytics/VolumeChart.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/index.ts
Labels: frontend, dependencies

Update backend/src/analytics/timeline.ts
  backend/src/analytics/timeline.ts
Labels: backend

Add comprehensive event history view for user activity (#131)
  backend/__tests__/unit/analytics/timeline.test.ts
  backend/src/analytics/index.ts
  backend/src/analytics/timeline.ts
  backend/src/routes/api.ts
  backend/src/routes/timeline.ts
  frontend/src/App.tsx
  frontend/src/components/suspicion/SuspicionDetail.tsx
  frontend/src/components/timeline/EventTypeFilter.tsx
  frontend/src/components/timeline/TimelineEvent.tsx
  frontend/src/pages/Suspicion.tsx
  frontend/src/pages/UserTimeline.tsx
  frontend/src/pages/index.ts
Labels: backend, frontend

Add real-time WebSocket analytics with Socket.io and Redis scaling (#132)
  WEBSOCKET_API.md
  backend/__tests__/unit/services/analyticsBroadcaster.test.ts
  backend/__tests__/unit/services/websocket.test.ts
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/server.ts
  backend/src/services/analyticsBroadcaster.ts
  backend/src/services/index.ts
  backend/src/services/websocket.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LiveAnalytics.tsx
  frontend/src/lib/socket.ts
Labels: backend, frontend, dependencies, documentation

Add public API with TypeScript SDK for third-party integrations (#133)
  README.md
  SDK_IMPLEMENTATION.md
  backend/__tests__/integration/routes/publicApi.test.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/routes/api.ts
  backend/src/routes/publicApi.ts
  docs/DEVELOPER_GUIDE.md
  docs/PUBLIC_API.md
  sdk/.gitignore
  sdk/LICENSE
  sdk/README.md
  sdk/examples/advanced-analytics.ts
  sdk/examples/basic-usage.ts
  sdk/examples/error-handling.ts
  sdk/jest.config.js
  sdk/package-lock.json
  sdk/package.json
  sdk/src/__tests__/client.test.ts
  sdk/src/analytics.ts
  sdk/src/client.ts
  sdk/src/index.ts
  sdk/src/spywatcher.ts
  sdk/src/types.ts
  sdk/tsconfig.json
Labels: backend, dependencies, documentation

Implement per-user API quota system with subscription tiers (#134)
  RATE_LIMITING.md
  README.md
  backend/__tests__/integration/routes/connectionMonitoring.test.ts
  backend/__tests__/integration/routes/quotaManagement.test.ts
  backend/__tests__/unit/middleware/quotaMiddleware.test.ts
  backend/__tests__/unit/services/analyticsBroadcaster.test.ts
  backend/__tests__/unit/services/websocket.test.ts
  backend/__tests__/unit/utils/connectionPoolMonitor.test.ts
  backend/__tests__/unit/utils/quotaManager.test.ts
  backend/prisma/migrations/20251030000000_add_subscription_tier/migration.sql
  backend/prisma/schema.prisma
  backend/src/middleware/index.ts
  backend/src/middleware/quotaMiddleware.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/routes/api.ts
  backend/src/routes/monitoring.ts
  backend/src/routes/publicApi.ts
  backend/src/routes/quotaManagement.ts
  backend/src/server.ts
  backend/src/utils/connectionPoolMonitor.ts
  backend/src/utils/quotaManager.ts
  docs/QUOTA_USAGE_GUIDE.md
Labels: backend, documentation, database

[WIP] Redesign frontend UI/UX with modern design principles (#135)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/pages/Analytics.test.tsx
  frontend/src/components/analytics/HeatmapChart.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/LoadingSkeleton.tsx
  frontend/src/components/ui/StatCard.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/components/ui/index.ts
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/lib/socket.ts
  frontend/src/main.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Login.tsx
  frontend/tailwind.config.js
Labels: frontend, dependencies

feat: Add APM, error tracking, and observability infrastructure (#136)
  .env.example
  MONITORING.md
  README.md
  backend/__tests__/integration/routes/health.test.ts
  backend/__tests__/unit/monitoring/metrics.test.ts
  backend/backend.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/middleware/winstonLogger.ts
  backend/src/monitoring/dbMonitoring.ts
  backend/src/monitoring/index.ts
  backend/src/monitoring/metrics.ts
  backend/src/monitoring/sentry.ts
  backend/src/routes/health.ts
  backend/src/server.ts
  backend/src/utils/env.ts
Labels: backend, dependencies, documentation

Implement Sentry error tracking and alerting for frontend and backend (#137)
  SENTRY.md
  backend/.env.example
  backend/__tests__/unit/monitoring/sentry.test.ts
  backend/package.json
  backend/scripts/upload-sourcemaps.sh
  backend/src/monitoring/index.ts
  backend/src/monitoring/sentry.ts
  backend/src/utils/env.ts
  backend/tsconfig.json
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/components/ErrorBoundary.test.tsx
  frontend/src/__tests__/config/sentry.test.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/config/sentry.ts
  frontend/src/main.tsx
  frontend/vite.config.ts
  sentry-alerts.example.yaml
Labels: backend, frontend, dependencies, documentation

Implement GDPR-compliant analytics system with usage tracking and insights dashboard (#138)
  ANALYTICS.md
  PRIVACY_ANALYTICS.md
  backend/__tests__/integration/routes/metricsAnalytics.test.ts
  backend/__tests__/setup.ts
  backend/__tests__/unit/services/analytics.test.ts
  backend/prisma/migrations/20251031200815_add_analytics_tables/migration.sql
  backend/prisma/schema.prisma
  backend/src/middleware/analyticsTracking.ts
  backend/src/middleware/index.ts
  backend/src/routes/api.ts
  backend/src/routes/metricsAnalytics.ts
  backend/src/server.ts
  backend/src/services/analytics.ts
  backend/src/utils/redis.ts
  frontend/src/App.tsx
  frontend/src/components/AnalyticsConsentBanner.tsx
  frontend/src/hooks/useAnalytics.ts
  frontend/src/lib/analytics.ts
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/MetricsDashboard.tsx
Labels: backend, frontend, documentation, database

Update LOGGING.md
  LOGGING.md
Labels: documentation

Update docs/LOGGING_IMPLEMENTATION_SUMMARY.md
  docs/LOGGING_IMPLEMENTATION_SUMMARY.md
Labels: documentation

Update promtail/README.md
  promtail/README.md
Labels: documentation

Implement centralized log aggregation with Grafana Loki stack (#139)
  .env.example
  .gitignore
  LOGGING.md
  README.md
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/CENTRALIZED_LOGGING_QUICKSTART.md
  docs/LOGGING_IMPLEMENTATION_SUMMARY.md
  grafana/README.md
  grafana/provisioning/dashboards/dashboard.yml
  grafana/provisioning/dashboards/json/spywatcher-logs.json
  grafana/provisioning/datasources/loki.yml
  loki/README.md
  loki/loki-config.yml
  promtail/README.md
  promtail/promtail-config.yml
  scripts/validate-logging-setup.sh
Labels: documentation

Add health checks, uptime tracking, and public status page (#140)
  HEALTH_STATUS.md
  backend/__tests__/integration/routes/incidents.test.ts
  backend/__tests__/integration/routes/status.test.ts
  backend/__tests__/unit/services/statusCheck.test.ts
  backend/prisma/schema.prisma
  backend/src/routes/api.ts
  backend/src/routes/incidents.ts
  backend/src/routes/status.ts
  backend/src/server.ts
  backend/src/services/statusCheck.ts
  frontend/src/App.tsx
  frontend/src/pages/Status.tsx
  frontend/src/pages/index.ts
Labels: backend, frontend, documentation, database

Add OpenAPI/Swagger documentation with interactive Swagger UI and ReDoc (#141)
  README.md
  backend/package-lock.json
  backend/package.json
  backend/src/config/openapi.ts
  backend/src/routes/analytics.ts
  backend/src/routes/api.ts
  backend/src/routes/auth.ts
  backend/src/routes/bans.ts
  backend/src/routes/health.ts
  backend/src/routes/status.ts
  backend/src/routes/suspicion.ts
  backend/src/routes/timeline.ts
  docs/API_DOCUMENTATION.md
  docs/OPENAPI_IMPLEMENTATION_SUMMARY.md
  docs/images/openapi-json-screenshot.png
  docs/images/redoc-screenshot.png
  docs/images/swagger-ui-screenshot.png
Labels: backend, dependencies, documentation

Implement WCAG 2.1 AA accessibility compliance (#142)
  ACCESSIBILITY.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/accessibility/Button.a11y.test.tsx
  frontend/src/__tests__/accessibility/Card.a11y.test.tsx
  frontend/src/__tests__/accessibility/StatCard.a11y.test.tsx
  frontend/src/components/AnalyticsConsentBanner.tsx
  frontend/src/components/analytics/TimelineChart.tsx
  frontend/src/components/analytics/VolumeChart.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/StatCard.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/index.css
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Login.tsx
Labels: frontend, dependencies, documentation

Implement dark/light theme system with smooth transitions and system preference support (#143)
  frontend/index.html
  frontend/src/__tests__/components/ui/ThemeToggle.test.tsx
  frontend/src/__tests__/contexts/ThemeContext.test.tsx
  frontend/src/components/ThemedToaster.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/index.css
  frontend/src/lib/analytics.ts
  frontend/src/main.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/MetricsDashboard.tsx
Labels: frontend

feat: Implement automated backup and disaster recovery infrastructure (#144)
  BACKUP.md
  DISASTER_RECOVERY.md
  README.md
  backend/.env.example
  backend/__tests__/unit/utils/backupMonitor.test.ts
  backend/package.json
  backend/prisma/migrations/20241102130500_add_backup_log/migration.sql
  backend/prisma/schema.prisma
  backend/src/server.ts
  backend/src/utils/backupMonitor.ts
  backend/src/utils/scheduledTasks.ts
  scripts/backup.sh
  scripts/restore.sh
  scripts/setup-wal-archiving.sh
Labels: backend, dependencies, documentation, database

Implement production-ready auto-scaling and load balancing infrastructure (#146)
  AUTO_SCALING.md
  AUTO_SCALING_IMPLEMENTATION.md
  DEPLOYMENT.md
  docs/AUTO_SCALING_EXAMPLES.md
  helm/spywatcher/values-production.yaml
  k8s/base/backend-service.yaml
  k8s/base/frontend-hpa.yaml
  k8s/base/frontend-service.yaml
  k8s/base/ingress.yaml
  k8s/base/kustomization.yaml
  k8s/base/prometheus-rules.yaml
  k8s/base/service-monitor.yaml
  k8s/base/traffic-policy.yaml
  scripts/README.md
  scripts/load-test.sh
  scripts/validate-autoscaling.sh
Labels: documentation

Establish safe database migration procedures for production (#147)
  .github/workflows/backend-ci.yml
  MIGRATION_SAFETY.md
  scripts/README.md
  scripts/rollback-migration.sh
  scripts/test-migration.sh
  scripts/validate-migration.sh
Labels: ci/cd, documentation

Implement custom analytics rules engine with visual builder and execution system (#148)
  backend/__tests__/unit/services/rulesEngine.test.ts
  backend/prisma/migrations/20251103020000_add_analytics_rules/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/routes/analyticsRules.ts
  backend/src/routes/api.ts
  backend/src/services/rulesEngine.ts
  frontend/src/App.tsx
  frontend/src/components/rules/RuleBuilder.tsx
  frontend/src/pages/RuleEditor.tsx
  frontend/src/pages/Rules.tsx
  frontend/src/types/rules.ts
Labels: backend, frontend, database

Update backend/plugins/template/index.js
  backend/plugins/template/index.js
Labels: backend

Add advanced visualization components: network graphs, Sankey/chord diagrams, interactive filtering (#150)
  ADVANCED_VISUALIZATIONS.md
  docs/ADVANCED_CHARTS_GUIDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/components/ErrorBoundary.test.tsx
  frontend/src/__tests__/components/analytics/ChartExport.test.tsx
  frontend/src/__tests__/components/analytics/InteractiveFilter.test.tsx
  frontend/src/__tests__/pages/AdvancedAnalytics.test.tsx
  frontend/src/components/AnalyticsConsentBanner.tsx
  frontend/src/components/analytics/ChartExport.tsx
  frontend/src/components/analytics/ChordDiagram.tsx
  frontend/src/components/analytics/DrillDownPanel.tsx
  frontend/src/components/analytics/InteractiveFilter.tsx
  frontend/src/components/analytics/NetworkGraph.tsx
  frontend/src/components/analytics/SankeyDiagram.tsx
  frontend/src/config/sentry.ts
  frontend/src/pages/AdvancedAnalytics.tsx
  frontend/src/pages/Analytics.tsx
  frontend/src/pages/MetricsDashboard.tsx
  frontend/src/pages/index.ts
  frontend/src/types/vis-network.d.ts
  frontend/vite.config.ts
Labels: frontend, dependencies, documentation

Add multi-language support (i18n) with 5 languages (#151)
  frontend/INTERNATIONALIZATION.md
  frontend/TRANSLATIONS.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/components/ui/LanguageSwitcher.test.tsx
  frontend/src/__tests__/components/ui/ThemeToggle.test.tsx
  frontend/src/__tests__/config/i18n.test.ts
  frontend/src/components/AnalyticsConsentBanner.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/LanguageSwitcher.tsx
  frontend/src/components/ui/ThemeToggle.tsx
  frontend/src/config/i18n.ts
  frontend/src/hooks/useRTL.ts
  frontend/src/locales/de/common.json
  frontend/src/locales/de/index.ts
  frontend/src/locales/en/common.json
  frontend/src/locales/en/index.ts
  frontend/src/locales/es/common.json
  frontend/src/locales/es/index.ts
  frontend/src/locales/fr/common.json
  frontend/src/locales/fr/index.ts
  frontend/src/locales/ja/common.json
  frontend/src/locales/ja/index.ts
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Login.tsx
Labels: frontend, dependencies, documentation

[WIP] Comprehensive Documentation - User, Admin, and Developer Guides (#152)
  .github/workflows/deploy-docs.yml
  .gitignore
  README.md
  docs/.vitepress/config.mts
  docs/README.md
  docs/admin/environment.md
  docs/admin/index.md
  docs/api/authentication.md
  docs/api/ghosts.md
  docs/api/index.md
  docs/changelog.md
  docs/developer/contributing.md
  docs/developer/index.md
  docs/guide/advanced-charts.md
  docs/guide/analytics.md
  docs/guide/dashboard.md
  docs/guide/faq.md
  docs/guide/filters.md
  docs/guide/ghost-detection.md
  docs/guide/guild-selection.md
  docs/guide/heatmap.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/guide/lurker-detection.md
  docs/guide/oauth-setup.md
  docs/guide/plugins.md
  docs/guide/privacy.md
  docs/guide/quick-start.md
  docs/guide/suspicion-scores.md
  docs/guide/timeline.md
  docs/guide/troubleshooting.md
  docs/index.md
  docs/public/logo.svg
  package-lock.json
  package.json
Labels: ci/cd, dependencies, documentation

[WIP] Create user documentation for end users (#153)
  DOCUMENTATION_SUMMARY.md
  docs/.vitepress/config.mts
  docs/guide/best-practices.md
  docs/guide/faq.md
  docs/guide/getting-started.md
  docs/guide/glossary.md
  docs/guide/quick-reference.md
  docs/guide/screenshots.md
  docs/guide/troubleshooting.md
  docs/guide/tutorials.md
  docs/images/README.md
Labels: documentation

Add comprehensive admin documentation for server management and operations (#159)
  docs/admin/alerts.md
  docs/admin/audit-logs.md
  docs/admin/backup.md
  docs/admin/ban-management.md
  docs/admin/feature-flags.md
  docs/admin/incident-response.md
  docs/admin/integrations.md
  docs/admin/ip-blocking.md
  docs/admin/maintenance.md
  docs/admin/monitoring.md
  docs/admin/panel.md
  docs/admin/permissions.md
  docs/admin/rate-limiting.md
  docs/admin/restore.md
  docs/admin/security.md
  docs/admin/user-management.md
Labels: documentation

[WIP] Create developer documentation for architecture and contributing (#168)
  docs/developer/architecture.md
  docs/developer/code-of-conduct.md
  docs/developer/code-style.md
  docs/developer/commit-conventions.md
  docs/developer/common-issues.md
  docs/developer/database-schema.md
  docs/developer/database-setup.md
  docs/developer/debugging.md
  docs/developer/local-environment.md
  docs/developer/prerequisites.md
  docs/developer/pull-requests.md
  docs/developer/review-process.md
  docs/developer/test-requirements.md
  docs/developer/testing.md
Labels: documentation

Add interactive API documentation portal with multi-language examples (#169)
  README.md
  backend/src/config/openapi.ts
  backend/src/routes/adminPrivacy.ts
  backend/src/routes/metricsAnalytics.ts
  backend/src/routes/plugins.ts
  backend/src/routes/privacy.ts
  backend/src/routes/publicApi.ts
  backend/src/routes/quotaManagement.ts
  docs/API_DOCUMENTATION_PORTAL_SUMMARY.md
  docs/api/AUTHENTICATION_GUIDE.md
  docs/api/INTERACTIVE_API_GUIDE.md
  docs/api/RATE_LIMITING_GUIDE.md
  docs/api/README.md
Labels: backend, documentation

[WIP] Create contributing guidelines for open source contributors (#170)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  ACCESSIBILITY.md
  ADVANCED_VISUALIZATIONS.md
  ANALYTICS.md
  BACKUP.md
  CODE_OF_CONDUCT.md
  CONNECTION_POOLING.md
  CONTRIBUTING.md
  DATABASE_OPTIMIZATION.md
  DISASTER_RECOVERY.md
  DOCKER.md
  HEALTH_STATUS.md
  INFRASTRUCTURE.md
  LOGGING.md
  MIGRATION.md
  MONITORING.md
  PLUGIN_SYSTEM.md
  POSTGRESQL.md
  POSTGRESQL_MIGRATION_SUMMARY.md
  PRIVACY_ANALYTICS.md
  QUERY_OPTIMIZATIONS.md
  RATE_LIMITING.md
  README.md
  REDIS_CACHING.md
  SDK_IMPLEMENTATION.md
  SECURITY.md
  SENTRY.md
  WEBSOCKET_API.md
Labels: documentation

Add search, date filtering, and export to user activity timeline (#171)
  backend/__tests__/unit/analytics/timeline.test.ts
  backend/src/analytics/timeline.ts
  backend/src/routes/timeline.ts
  frontend/src/__tests__/components/timeline/DateRangeFilter.test.tsx
  frontend/src/__tests__/components/timeline/ExportButton.test.tsx
  frontend/src/__tests__/components/timeline/SearchBar.test.tsx
  frontend/src/components/timeline/DateRangeFilter.tsx
  frontend/src/components/timeline/ExportButton.tsx
  frontend/src/components/timeline/SearchBar.tsx
  frontend/src/pages/UserTimeline.tsx
Labels: backend, frontend

Add real-time WebSocket updates and interactive drill-down to Analytics dashboard (#172)
  ENHANCED_ANALYTICS_DASHBOARD.md
  frontend/src/__tests__/components/analytics/DrillDownPanel.test.tsx
  frontend/src/__tests__/components/analytics/HeatmapChart.test.tsx
  frontend/src/__tests__/pages/Analytics.test.tsx
  frontend/src/components/analytics/HeatmapChart.tsx
  frontend/src/components/analytics/TimelineChart.tsx
  frontend/src/components/analytics/VolumeChart.tsx
  frontend/src/pages/Analytics.tsx
Labels: frontend, documentation

Query Performance Optimization - Add benchmarking, monitoring, and validation tools (#173)
  backend/__tests__/unit/utils/queryAnalyzer.test.ts
  backend/docs/QUERY_OPTIMIZATION_SUMMARY.md
  backend/docs/QUERY_PERFORMANCE_GUIDE.md
  backend/scripts/benchmark-queries.ts
  backend/scripts/validate-pagination.ts
  backend/src/analytics/heatmap.ts
  backend/src/routes/monitoring.ts
  backend/src/utils/queryAnalyzer.ts
Labels: backend, documentation

Enable connection pool monitoring and configure optimized Prisma connection limits (#174)
  .env.example
  CONNECTION_POOLING_IMPLEMENTATION.md
  CONNECTION_POOLING_QUICKSTART.md
  backend/__tests__/unit/connectionPoolMonitor.test.ts
  backend/src/db.ts
  backend/src/server.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
Labels: backend, documentation
