Repository subculture-collective/discord-spywatcher, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, ci/cd, dependencies, documentation, database

Update frontend/src/pages/AuthCallback.tsx
  frontend/src/pages/AuthCallback.tsx
Labels: frontend

Update backend/eslint.config.mjs
  backend/eslint.config.mjs
Labels: backend

fix: rename typecheck script to type-check for consistency
  backend/package.json
Labels: backend, dependencies

fix: add TypeScript types for Express Request and suppress console warnings
  backend/src/middleware/validateGuild.ts
  backend/src/routes/analytics.ts
  backend/src/routes/suspicion.ts
  backend/src/types/express.d.ts
  backend/src/utils/env.ts
Labels: backend

Update docker-compose.prod.yml
  docker-compose.prod.yml
Labels: none

Update docker-compose.dev.yml
  docker-compose.dev.yml
Labels: none

Update backend/src/routes/auth.ts
  backend/src/routes/auth.ts
Labels: backend

Update backend/src/server.ts
  backend/src/server.ts
Labels: backend

Update backend/src/routes/auth.ts
  backend/src/routes/auth.ts
Labels: backend

Update backend/src/routes/auth.ts
  backend/src/routes/auth.ts
Labels: backend

Update backend/src/routes/auth.ts
  backend/src/routes/auth.ts
Labels: backend

Update backend/src/routes/auth.ts
  backend/src/routes/auth.ts
Labels: backend

Update backend/src/utils/refreshToken.ts
  backend/src/utils/refreshToken.ts
Labels: backend

fix(eslint): ignore coverage and jest.config.js files
  backend/eslint.config.mjs
Labels: backend

fix(scripts): correct type-check script reference
  package.json
Labels: dependencies

chore(config): update env examples and ignore files
  .env.example
  .prettierignore
  frontend/.gitignore
Labels: frontend

chore(gitignore): reindex to respect .gitignore
  package.json
Labels: dependencies

chore(docker): update .dockerignore files
  backend/.dockerignore
  frontend/.dockerignore
Labels: backend, frontend

fix: Add Copilot instructions and update workflow config
  backend/src/middleware/auth.ts
  backend/src/routes/auth.ts
  backend/src/server.ts
  backend/src/utils/refreshToken.ts
Labels: backend

Update backend/src/utils/dataRetention.ts
  backend/src/utils/dataRetention.ts
Labels: backend

Update backend/src/middleware/ddosProtection.ts
  backend/src/middleware/ddosProtection.ts
Labels: backend

Update backend/src/server.ts
  backend/src/server.ts
Labels: backend

Update backend/src/utils/security.ts
  backend/src/utils/security.ts
Labels: backend

Update backend/src/middleware/ipBlock.ts
  backend/src/middleware/ipBlock.ts
Labels: backend

Update backend/src/middleware/caching.ts
  backend/src/middleware/caching.ts
Labels: backend

Update backend/src/routes/monitoring.ts
  backend/src/routes/monitoring.ts
Labels: backend

Update backend/src/middleware/caching.ts
  backend/src/middleware/caching.ts
Labels: backend

Potential fix for code scanning alert no. 33: Log injection
  backend/src/routes/ipManagement.ts
Labels: backend

Apply suggestion from @Copilot
  backend/src/routes/analytics.ts
Labels: backend

Update backend/src/middleware/securityLogging.ts
  backend/src/middleware/securityLogging.ts
Labels: backend

Update backend/src/utils/securityLogger.ts
  backend/src/utils/securityLogger.ts
Labels: backend

Update backend/src/middleware/auth.ts
  backend/src/middleware/auth.ts
Labels: backend

Update backend/src/utils/alertSystem.ts
  backend/src/utils/alertSystem.ts
Labels: backend

Security Logging & Monitoring - Audit Trail and Alerts (#121)
  backend/.env.example
  backend/__tests__/unit/utils/alertSystem.test.ts
  backend/__tests__/unit/utils/ipManagement.test.ts
  backend/__tests__/unit/utils/securityLogger.test.ts
  backend/prisma/schema.prisma
  backend/src/middleware/auth.ts
  backend/src/middleware/index.ts
  backend/src/middleware/securityLogging.ts
  backend/src/routes/auth.ts
  backend/src/server.ts
  backend/src/utils/alertSystem.ts
  backend/src/utils/env.ts
  backend/src/utils/ipManagement.ts
  backend/src/utils/securityLogger.ts
Labels: backend, database

PostgreSQL migration with production-grade features and tooling (#124)
  MIGRATION.md
  POSTGRESQL.md
  POSTGRESQL_MIGRATION_SUMMARY.md
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/db.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
  scripts/README.md
  scripts/add-fulltext-search.sql
  scripts/backup.sh
  scripts/maintenance.sh
  scripts/migrate-to-postgres.ts
  scripts/postgres-init.sql
  scripts/restore.sh
  scripts/setup-fulltext-search.sh
Labels: backend, dependencies, documentation, database

Update backend/src/routes/monitoring.ts
  backend/src/routes/monitoring.ts
Labels: backend

Optimize database performance through indexing, query optimization, and monitoring (#125)
  DATABASE_OPTIMIZATION.md
  backend/prisma/schema.prisma
  backend/src/analytics/ghosts.ts
  backend/src/analytics/lurkers.ts
  backend/src/analytics/reactions.ts
  backend/src/db.ts
  backend/src/middleware/slowQueryLogger.ts
  backend/src/routes/monitoring.ts
  backend/src/utils/databaseMaintenance.ts
  scripts/add-performance-indexes.sql
Labels: backend, documentation, database

Implement Redis caching layer for analytics with tag-based invalidation (#126)
  REDIS_CACHING.md
  backend/__tests__/unit/services/cache.test.ts
  backend/src/analytics/clients.ts
  backend/src/analytics/ghosts.ts
  backend/src/analytics/heatmap.ts
  backend/src/analytics/lurkers.ts
  backend/src/analytics/presence.ts
  backend/src/analytics/roles.ts
  backend/src/analytics/shifts.ts
  backend/src/index.ts
  backend/src/routes/monitoring.ts
  backend/src/services/cache.ts
  backend/src/services/cacheInvalidation.ts
  backend/src/services/index.ts
  backend/src/services/pubsub.ts
Labels: backend, documentation

Optimize database queries: eliminate N+1 patterns, add pagination, enhance monitoring (#127)
  QUERY_OPTIMIZATIONS.md
  backend/__tests__/integration/routes/analytics.test.ts
  backend/__tests__/integration/routes/ipManagement.test.ts
  backend/__tests__/unit/analytics/channels.test.ts
  backend/__tests__/unit/middleware/ipBlock.test.ts
  backend/__tests__/unit/utils/pagination.test.ts
  backend/scripts/benchmark-queries.ts
  backend/src/analytics/channels.ts
  backend/src/analytics/presence.ts
  backend/src/analytics/roles.ts
  backend/src/analytics/shifts.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/middleware/slowQueryLogger.ts
  backend/src/routes/adminPrivacy.ts
  backend/src/routes/monitoring.ts
  backend/src/utils/alertSystem.ts
  backend/src/utils/pagination.ts
Labels: backend, documentation

Implement PgBouncer connection pooling with monitoring and graceful shutdown (#128)
  .env.example
  CONNECTION_POOLING.md
  README.md
  backend/__tests__/integration/routes/connectionMonitoring.test.ts
  backend/__tests__/unit/utils/connectionPoolMonitor.test.ts
  backend/src/db.ts
  backend/src/routes/monitoring.ts
  backend/src/utils/connectionPoolMonitor.ts
  backend/src/utils/redis.ts
  docker-compose.dev.yml
  docker-compose.prod.yml
  docs/PGBOUNCER_SETUP.md
  pgbouncer/.gitignore
  pgbouncer/Dockerfile
  pgbouncer/README.md
  pgbouncer/entrypoint.sh
  pgbouncer/pgbouncer.ini
  pgbouncer/userlist.txt.template
Labels: backend, documentation

.github/labeler.yml:

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'
    - any-glob-to-any-file: '.github/dependabot.yml'

dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'
    - any-glob-to-any-file: 'docs/**'

database:
  - changed-files:
    - any-glob-to-any-file: 'backend/prisma/**'
